@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
}


.MainPage, .SignupPage, .SigninPage {
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin: 0;
  padding-top: 0px;
  text-align: center;
}

h2 {
  margin: 0;
}

form {
  background-color: #0a0a0a;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: 20px auto;
}

input, select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #0a0a0a;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #0a0a0a;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: white;
  color: black;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: white;
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}